#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  height: 130vh;
  margin: 0;
  padding: 0;
  background: #0d0d1a; /* Dark consistent background */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200vh; */
}

.home-container{
  /* height: 100%;
  position: relative;
  top: 100px; */
}
